@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
}

header {
    width: 100%;
    padding: 20px;
    background-color: rgb(8, 121, 226);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

header h1 {
    margin: 10px 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.main .side {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.main .side-box {
    margin: 10px 0;
    padding: 20px 15px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe,
        -10px -10px 20px #ffffff;
}

.main .side-box .values {
    font-family: 'Space Mono', monospace !important;
    font-size: 40px;
}

.main .main-graph {
    width: 100%;
    flex: 1;
    padding: 10px;
}

.main-graph div {
    height: 100%;
    margin: 10px 0;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe,
        -10px -10px 20px #ffffff;
}

@media all and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .main .side {
        max-width: none;
        flex-wrap: wrap;
    }
    
}